<section>


    <div class="container" style="background-color: antiquewhite;">


        <div class="row" style="display: flex; justify-content: center;">
             
             {{#each posts}}
            <div class="col-md-9 post"
                style="height: 930px; background-color: aqua; margin-top: 100px; margin-bottom: 50px;">

                <div class="col-md-12 header"
                    style="background-color: aquamarine; height: 50px; display: flex;">
                    <div style="display: flex;">
                        <img src="/images/profile-images/{{this.profileImage}}.jpg" alt="" style="border-radius: 50%;">
                        <p style="margin-top: 11px;">{{this.name}}</p>
                        <p style="margin-top: 11px; margin-left: 15px; color: brown;">{{this.time}}</p>
                    </div>
                    
                    
                    

                </div>
                <div class="col-md-12 post-body"
                    style="background-color: blanchedalmond; height: 600px; padding-top: 20px;">
                    <h2>{{this.title}}</h2>
                    <p>{{this.content}}</p>

                </div>

                <div class="col-md-12 likes" style="background-color: teal; height: 30px; display: flex;">
                    <span class="material-icons" style="color: white;">thumb_up</span> 
                    <p style="margin-left: 10px;">{{this.likes}}</p>

                </div>

                <div class="col-md-12 comment-box" style="background-color: cadetblue; height: 230px;">
                    <div class="col-md-12 comment-section" style="background-color: aliceblue; height: 180px;">


                    </div>

                    <div class="col-md-12 add-comment" style="background-color: wheat; height: 50px; display: flex;">
                        <input type="text" class="form-control" placeholder="Add Comment..."
                             aria-describedby="basic-addon2" id="commentInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" >Add</button>
                        </div>

                    </div>


                </div>


            </div>
            {{/each}}


        </div>

    </div>


</section>